<!DOCTYPE html>
<html lang = "en-US">
<head>
	<meta charset = "UTF-8">
	<title>CryptoPandas - {{~>title}}</title>

<!-- The Favicon from https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

	<link rel = "stylesheet" type = "text/css" href = "/style.css" />
</head>
<body>
<header>
<div id="menu">
<a class="logo" href="/"><span class="logo-icon" alt="CryptoPandas" title="CryptoPandas"></span></a>
<div id="cryptopandas"><a id="logo" class="logo" href="/" alt="CryptoPandas" title="CryptoPandas">CryptoPandas</a></div>
<ul class="last-one">
<li><a href="/pandas/" alt="See the newest pandas" title="See the newest pandas">PandaScope</a></li>
<li><a href="/panda/" alt="Information about a panda" title="Information about a panda">Panda</a></li>
<li><a href="/mating/" alt="Make new pandas" title="Make new pandas">Mating</a></li>
<li><a href="/halloffame/" alt="The best breeders" title="The best breeders">Hall of fame</a></li>
<li><a href="/breeders/" alt="Information about the breeders" title="Information about the breeders">Breeders</a></li>
</ul>
<span class="last-one"></span>
</div>
<hr>
</header>
<div id="page-content">
{{~> page}}
</div>
<footer>
<hr>
<div id="footer">
<span>(c) 2019 The CryptoPandas Team.</span>
<span class="last-one">
<span id="about"><a href="/about/">About</a></span>
&emsp;
<span id="contact"><a href="/contacts/">Contact us</a></span>
</span>
</div>
</footer>
</body>
</html>

